<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="jumbotron">
      <h2><%= @album.name %></h1>
      recorded by: <%= link_to @album.band.name, band_url(@album.band) %> <br>
      <br>
      track list:
      <% @album.tracks.each do |track| %>
      <li><%= link_to track.name, track_url(track) %></li>
        <% end %>
      <br><br>
      <%= link_to "add a track", new_album_track_url(@album) %>
      <br><br>
      <%= link_to "edit", edit_album_url(@album) %>
      <br>
      <%= link_to "delete", album_url(@album), method: :destroy %>
    </div>
  </div>
</div>
