<!DOCTYPE html>
<html>
<head>
  <title>QuarterNotes</title>
  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
  <%= csrf_meta_tags %>
  <% if logged_in? %>
  <%= button_to "log out", session_url, method: :delete %>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
