<div class="row container">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="jumbotron">
      <h2><%= @band.name %>'s discography</h1>
      <br><br>
      <ul><% @band.albums.each do |album| %>
        <li><%= link_to album.name, album_url(album) %></li>
      <% end %>
      </ul>
      <br><br>
      <%= link_to "add an album", new_band_album_url(@band) %><br><br>
      <%= link_to "bands index", bands_url %>
      <br><br>
      <%= link_to "edit band", edit_band_url(@band) %>
      <br><br><br>
      <%= button_to "delete", band_url(@band), method: :delete %>
    </div>
  </div>
</div>
