<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="jumbotron">
      <h2>lyrics for '<%= @track.name %>'</h1>
        from the album <%= link_to @track.album.name, album_url(@track.album) %><br><br>
        <p> <%= ugly_lyrics(@track.lyrics) %> </p>
        <br><br>
        <h3>notes on this track</h3>
        <% if @track.notes %>
        <% @track.notes.each do |note| %>
          <%= render "notes/note", note: note  %>
          <% end %>
        <% end %>
        <br><br>
        <%= render "notes/form", track_id: @track.id %>
        <br>
        <br>
        <%= link_to "edit", edit_track_url(@track) %>
        <br>
        <%= link_to "delete", track_url(@track), method: :destroy %>
      </div>
    </div>
  </div>
